$tf-1: Arial, sans-serif !default;

$media-width-s: (768px - 1px) !default;
$media-width-m: (1008px - 1px) !default;
$media-width-l: (1176px + 30px) !default;
$media-width-xl: (1440px + 30px) !default;