$tf-1: 'MuseoSansCyrl', Arial, sans-serif !default;

$s: (768px - 1px) !default;
$m: (1008px - 1px) !default;
$l: (1176px + 30px) !default;
$xl: (1440px + 30px) !default;

$fontColor: #51525c;
$colorMuted: #9496a7;
$borderColor: #989797;
$colorPink: #f6008b;
$colorBlue: #02a9ec;
$colorYellow: #faa900;

$transitionSpeed: .25s;
$ease: ease-in-out;
