@import "../core/variables"


.blue-link
  .ico, .icon
    margin-right: 5px
  span
    font-weight: 300
    line-height: 1
    border-bottom: 1px solid rgba($colorBlue, .5)
    color: $colorBlue
    transition: all $transitionSpeed $ease
  &:hover
    span
      border-color: transparent
      color: $colorPink

.h2-title
  font-weight: 700
  font-size: 36px
  line-height: 1
