@import "../core/variables"
@import "../core/mixins"

.blog-content
  margin-top: 40px
  margin-bottom: 50px
  &__wrapper
    display: flex
    align-items: flex-start
  &__content
    flex: 0 1 100%
    margin-right: 30px
    p
      font-size: 16px
      font-weight: 300
      line-height: 1.67
  &__banner
    flex: 0 0 240px
    img
      max-width: 100%

+r($l)
  .blog-content
    margin-bottom: 40px
    &__banner
      flex-basis: 220px

+r($m)
  .blog-content
    margin-top: 30px
    margin-bottom: 30px
    &__banner
      display: none
    &__content
      margin-right: 0
      p
        font-size: 15px

+r($s)
  .blog-content
    margin-top: 20px
    margin-bottom: 20px
    &__content
      p
        font-size: 14px
        line-height: 1.5
