@import "../core/variables"
@import "../core/mixins"

// CONTACT
.contact
  &__jumbo
    margin-top: 35px
    padding: 25px 60px
    background: #fafafa
    border-left: 2px solid $colorBlue
    &-wrapper
      display: flex
      align-items: center
      margin: 20px -10px 0 -10px
  &__line
    flex: 0 1 300px
    margin-bottom: 20px
    padding: 0 10px
    &--long
      flex-basis: 540px
    &--email
      flex-basis: 270px
    &--adress
      flex-shrink: 0
    &-name
      font-size: 16px
      line-height: 1.67
      font-weight: 300
      color: $colorMuted
    &-text
      font-size: 18px
      font-weight: 700
      margin-top: 10px
      span
        color: $colorMuted
      a
        transition: all $transitionSpeed $ease
        &:hover
          color: $colorBlue
  &__phone
    font-size: 24px

  &__form
    margin: 70px 0
    max-width: 1000px

+r($xl)
  .contact
    &__jumbo
      padding: 15px 50px
    &__form
      margin-top: 50px

+r($l)
  .contact
    &__jumbo
      padding: 10px 40px
    &__form
      margin-bottom: 50px
    &__phone
      font-size: 18px
    &__line
      &--adress
        flex-shrink: 1

+r($m)
  .contact
    &__jumbo
      padding: 10px 60px 0 60px
      &-wrapper
        flex-wrap: wrap
    &__line
      flex-basis: 300px
      margin-bottom: 30px
      &-text
        margin-top: 5px

+r($s)
  .contact
    &__jumbo
      margin-top: 30px
      padding: 25px 30px 15px 30px
      &-wrapper
        flex-direction: column
        margin: 0
        align-items: flex-start
    &__line
      flex: 0 0 100%
      margin-bottom: 15px
      padding: 0
      &-name
        font-size: 14px
      &-text
        font-size: 16px
        margin-top: 0


.form-contact
  &__title
    font-size: 36px
    font-weight: 300
    margin-bottom: 15px
  &__wrapper
    display: flex
    margin-top: 30px
  &__left
    flex: 0 0 270px
    margin-right: 30px
  &__right
    flex: 1 1 auto
    display: flex
    flex-direction: column
    .ui-group
      flex: 1 1 auto
      display: flex
      flex-direction: column
    textarea
      flex: 1 1 auto
      height: auto
  .ui-input
    width: 100%
    display: block
  &__cta
    max-width: 640px
    margin-top: 50px
    .btn
      margin-top: 30px

+r($m)
  .form-contact
    &__title
      font-size: 24px
    &__cta
      margin-top: 40px
      .btn
        margin-top: 20px

+r($s)
  .form-contact
    &__title
      font-size: 16px
    &__wrapper
      flex-direction: column
      margin-top: 25px
    &__left
      flex: 0 0 auto
      margin-right: 0px
    &__right
      flex: 0 0 auto
      display: block
      textarea
        height: 150px
    &__cta
      margin-top: 30px
      .btn
        margin-top: 15px


.contact-map
  height: 560px
  display: flex
  flex-direction: column
  div
    flex: 1 1 auto
    width: 100%
    height: 100%

+r($m)
  .contact-map
    height: 440px

+r($s)
  .contact-map
    height: 320px
