@import "../core/variables"
@import "../core/mixins"


body
  &.locked
    height: 100vh
    overflow: hidden
    pointer-events: none
    // &::after
    //   display: inline-block
    //   position: absolute 0
    //   background: #000

.blue-link
  display: flex
  .ico, .icon
    flex: 0 0 30px
    margin-right: 5px
  span
    flex: 0 0 auto
    font-weight: 300
    line-height: 1
    border-bottom: 1px solid rgba($colorBlue, .5)
    color: $colorBlue
    transition: all $transitionSpeed $ease
  &:hover
    span
      border-color: transparent
      color: $colorPink

.h2-title
  font-weight: 700
  font-size: 36px
  line-height: 1
  +r($m)
    font-size: 24px
  +r($s)
    font-size: 18px

.h3-title
  font-weight: 700
  font-size: 30px
  line-height: 1
  +r($m)
    font-size: 24px

.t-primary
  font-weight: 500
  font-size: 18px

.t-muted
  font-weight: 300
  font-size: 16px
  color: $colorMuted
