@import "../core/variables"
@import "../core/mixins"


body
  &.locked
    height: 100vh
    overflow: hidden
    pointer-events: none
    // &::after
    //   display: inline-block
    //   position: absolute 0
    //   background: #000

.blue-link
  display: flex
  .ico, .icon
    flex: 0 0 30px
    margin-right: 5px
  span
    flex: 0 0 auto
    font-weight: 300
    line-height: 1
    border-bottom: 1px solid rgba($colorBlue, .5)
    color: $colorBlue
    transition: all $transitionSpeed $ease
  &:hover
    span
      border-color: transparent
      color: $colorPink

.h1-title
  font-weight: 700
  font-size: 60px
  line-height: 1
  +r($xl)
    font-size: 48px
  +r($m)
    font-size: 36px
  +r($s)
    font-size: 24px

.h2-title
  font-weight: 700
  font-size: 36px
  line-height: 1
  +r($m)
    font-size: 24px
  +r($s)
    font-size: 18px

.h3-title
  font-weight: 700
  font-size: 30px
  line-height: 1
  +r($m)
    font-size: 24px
  +r($s)
    font-size: 18px

.t-primary
  font-weight: 500
  font-size: 18px
  +r($m)
    font-size: 17px
  +r($s)
    font-size: 16px

.t-muted
  font-weight: 300
  font-size: 16px
  color: $colorMuted
  +r($m)
    font-size: 15px
  +r($s)
    font-size: 14px


table
  font-size: 16px
  width: 100%
  border-collapse: collapse
  thead
    color: $colorMuted
  td
    padding: 20px 10px
  tr
    td
      &:first-child
        padding-left: 0
      &:last-child
        padding-right: 0
  tbody
    td
      border-top: 1px solid #cdcdcd

.ul-list
  list-style: none
  margin: 2em 0 1em 0
  padding: 0
  font-size: 16px
  font-weight: 300
  li
    display: block
    position: relative
    padding-left: 18px
    margin-bottom: 5px
    &::before
      display: inline-block
      content: ''
      position: absolute
      left: 0
      top: 5px
      border-radius: 50%
      width: 5px
      height: 5px
      background: $colorBlue
