@import "../core/variables";

.pop-up {
	display: none;
	position: fixed;
	z-index: 1100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	cursor: pointer;

	&.active {
		display: block;
	}

	&__insides {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 100%;
		max-width: 450px;
		margin-top: 40px;
		margin-bottom: 40px;
		padding: 22px 45px 35px;
		text-align: left;
		background-color: #fff;
		cursor: auto;
	}

	&__close {

	}
}