@import "../core/variables"
@import "../core/mixins"


.price-table
  background: #fafafa
  padding: 60px 0 80px
  &--no-bg
    background: transparent
    padding-top: 20px
  &__top
    margin-bottom: 30px
    max-width: 690px
    form
      margin-top: 20px
    .search-header__box input
      display: block
      width: 100%
    .t-muted
      margin-top: 10px
  table
    tbody
      font-weight: 700
  &__no-results
    padding: 20px 0
    border-top: 1px solid #cdcdcd
    border-bottom: 1px solid #cdcdcd
    span
      display: inline-block
      margin-right: 30px
      font-weight: 700
      font-size: 16px
