@import ../core/variables
@import ../core/mixins

.responsive-table
  & thead
    +r($s)
      display: none

  & tbody
    +r($s)
      display: block

    & tr
      +r($s)
        display: block

      & td
        +r($s)
          display: block

        &:before
          +r($s)
            content: attr(data-title)
            display: block
            vertical-align: top
            width: 100%
            color: $colorMuted
            font-weight: 700
            
  &--category

    & tbody
      
      & tr
        display: none

        &.visible
          display: table-row
          

  &--catalog
    td
      &:nth-of-type(1)
        width: 10%
      &:nth-of-type(2)
        width: 10%
      &:nth-of-type(3)
        width: auto
      &:nth-of-type(4)
        width: 10%
      &:nth-of-type(5)
        width: 10%
      &:nth-of-type(6)
        width: 10%
      &:nth-of-type(7)
        width: 90px
      &:nth-of-type(8)
        width: 90px

    +r($s)
      td
        width: auto !important
      tbody
        tr
          display: flex
          flex-wrap: wrap
        td
          flex: 0 1 50%
          font-weight: 500
          &:nth-of-type(1)
            &::before
              display: none
          &:nth-of-type(2)
            &::before
              display: none
          &:nth-of-type(3)
            flex-basis: 100%
            order: 5
          &:nth-of-type(4)
            &::before
              display: inline-block
              width: auto
              padding-right: 5px

          &:nth-of-type(5)
            display: none
          &:nth-of-type(6)
            display: none
          &:last-child
            display: none
