.ico
  display: inline-block
  content: ' '
  background-position: center center
  background-size: contain
  background-repeat: no-repeat
  font-style: normal
  vertical-align: middle

  &-search
    background-image: url('../../img/icons/search@2x.png')
    width: 18px
    height: 18px

  &-checkmark-blue
    background-image: url('../../img/icons/checkmark-blue@2x.png')
    width: 30px
    height: 30px
  &-checkmark-yellow
    background-image: url('../../img/icons/checkmark-yellow@2x.png')
    width: 30px
    height: 30px
  &-checkmark-pink
    background-image: url('../../img/icons/checkmark-pink@2x.png')
    width: 30px
    height: 30px

  &-courier
    background-image: url('../../img/icons/courier@2x.png')
    width: 20px
    height: 20px

  &-document
    background-image: url('../../img/icons/document@2x.png')
    width: 15px
    height: 19px

  &-stepcta-1
    background-image: url('../../img/icons/step1@2x.png')
    width: 74px
    height: 74px
  &-stepcta-2
    background-image: url('../../img/icons/step2@2x.png')
    width: 146px
    height: 79px
  &-stepcta-3
    background-image: url('../../img/icons/step3@2x.png')
    width: 146px
    height: 79px

  &-arrow
    background-image: url('../../img/icons/arrow@2x.png')
    width: 32px
    height: 23px

  &-binardi
    background-image: url('../../img/icons/binardi@2x.png')
    width: 55px
    height: 18px
