.ico
  display: inline-block
  content: ' '
  background-position: center center
  background-size: contain
  background-repeat: no-repeat
  font-style: normal

  &-search
    background-image: url('../../img/icons/search@2x.png')
    width: 18px
    height: 18px
