@import "../core/variables"
@import "../core/mixins"

// INPUT
.ui-input
  display: inline-block
  -webkit-apperance: none
  background: white
  border: 1px solid $borderColor
  border-radius: 3px
  box-shadow: none
  font-size: 15px
  font-weight: 300
  padding: 12px 15px
  transition: border $transitionSpeed $ease
  &::placeholder
    color: $colorMuted
  &:focus
    border-color: $colorBlue

+r($s)
  .ui-input
    padding: 10px 15px
    font-size: 14px
